body{
    font-family: "Dancing Script",
}

header{
    width: 1000px;
    background-color: #5b7989;
    border-radius: 10px 10px 0 0;
    height: 100px;
}

.navegador a{
    text-decoration: none;
    color: white;
    position: fixed;
    flex-direction: column-reverse; 
    margin: 10px;
}

.titulo{
    margin: 10px;
    color: white;
    text-shadow: 2px 2px #02010a;
}

#imagenes{
    width: 1000px;
    float: left;
    text-align: center;
}

#imagen-superior{
    background-color: #82c3a6;
}

#imagen-inferior{
    background-color: #d5c75f;
}

@media screen and (max-width: 900px){
    #imagenes{
        margin: 0;
        width: 100%;        
    }
    #dog{
        width: 100%;
    }
    #paisajes{
        width: 100%
    }
    #retratos{
        width: 100%;
    }
    footer{
        width: 100%
    }
    header{
        width: 100%;
    }
    .titulo{
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}

@media (min-width:900px){
    header{
        width: 100%;
        display: flex;
    }
    .titulo{
        font-size: 20px;
    }
    #footer{
        width: 100%;
        display: flex;
    }
    #imagenes{
        width: 100%;
    }
    #imagen-inferior{
        display: flex;
        height: 300px;
    }
    #paisajes{
        width: 40%;
        height: 280px;
        position: absolute;
        margin: 10px;
        left: 10px;
    }
    #retratos{
        width: 40%;
        height: 280px;
        position: absolute;
        margin: 10px;
        right: 10px
    }
    #contactos{
        width: 25%;
    }
    #redes{
        width: 25%;
    }
    #terminos{
        width: 25%;
    }
    #derechos{
        width: 25%;
    }
}

#paisajes{
    border: 2px solid black;
}

#paisajes:hover{
    transform: rotate(10deg);
    transition: 1s;
    box-shadow: 5px 5px 4px #82c3a6;
}

#retratos{
    border: 2px solid black;
}

#retratos:hover{
    transform: translate(20px, -5px);
    transition: 1s;
    box-shadow: -5px 5px 4px #82c3a6;
}
footer{
    background-color: #c6d5c5;
    border-radius: 10px;
}